#page1 { 
    background-color: #DCDCDC;
    font-family: "Helvetica";
}

.title-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#site-img {
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0px 4px 15px 4px;
    align-items: center;
    justify-content: center;
}

#site-title {
    font-family: Georgia, Sans Serif;
    margin: 0px 5px 15px 5px;
    justify-content: center;
}

#page1-bio {
    font-family: 'Times New Roman', Times, serif;
}

.menu-bar {
    display: flex;
    background-color: #555;
    overflow: auto;
    border: none;
    border-radius: 5px;

}

.menu-bar a {
    padding: 6px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    width: 20%;
    text-align: center;
}

.menu-bar a:hover {
    background-color: #000;
}

.menu-bar a.active {
    background-color: #C0C0C0;
    color: black;
}

.button-secret {
    display: flex;
    justify-content: center;
}

.body-container {
    display: flex;
    justify-content: flex-start;
    background-color: darkgrey;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#test-button {
    background-color: #DCDCDC ;
    color: #DCDCDC;
    border: dotted grey
}

.page2 {
    background-color: #DCDCDC;
}

.dust-quote {
    display: flex;
    justify-content: center;
    font-family: Georgia, Sans Serif;
}

.home-page {
    display: flex;
    justify-content: center;
}

.page3 {
    background-color: #DCDCDC;
}

#page3-title {
    font-family: Georgia, Sans Serif;
}

.page4 {
    background-color: #DCDCDC;
}

#page4-title {
    font-family: Georgia, Sans Serif;
} 

.page5 {
    background-color: #DCDCDC
}