body{
    background-color: #DCDCDC;
    font-family: "Helvetica";
}

.top-container {
    display: flex;
    justify-content: space-between;
}

img {
    border-radius: 30%;
    height: 80px;
    width: 80px;
}

h1 {
    font-family: Gill Sans, Sans Serif;
}



#test-button{
    background-color: #245DA1;
    border: dotted grey
}